{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    {% if compound %}
        {{ form_widget(form) }}
    {% else %}
        <div class="field">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr | merge({ class: 'input is-large' }) %}

    {% if label %}
        {% set attr = attr | merge({ placeholder: label }) %}
    {% endif %}

    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr | merge({ class: 'textarea is-large' }) %}

    {% if label %}
        {% set attr = attr | merge({ placeholder: label }) %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block choice_widget_collapsed %}
{% spaceless %}
    <div class="control">
        <div class="select is-large is-rounded is-fullwidth">
            {{ parent() }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="control">
        <label class="checkbox">
            {{ parent() }}

            {% if translation_domain is same as(false) %}
                {{ label }}
            {% else %}
                {{ label | trans({}, translation_domain) }}
            {% endif %}
        </label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block form_widget %}
{% spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        <div class="control">
            {{ block('form_widget_simple') }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block form_widget_compound %}
{% spaceless %}
    {% if form is rootform %}
        {{ form_errors(form) }}
    {% endif %}

    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% for error in errors %}
        <p class="help is-danger has-text-left">{{ error.message }}</p>
    {% endfor %}
{% endspaceless %}
{% endblock %}
